In [ ]:
%tensorflow_version 1.x
import tensorflow 
tensorflow.__version__

TensorFlow 1.x selected.

'1.15.2'

In [ ]:
# Load libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import datetime as dt

In [ ]:
# Drive to work
from google.colab import drive
drive.mount('/content/drive')

import os
workdir_path = '/content/drive/MyDrive/TCC_MBA_PUC/'  # Inserir o local da pasta onde estão os arquivos de entrada (treino e teste)
os.chdir(workdir_path)

Mounted at /content/drive

In [ ]:
# create a csv reader to inspect data
reader = pd.read_csv('/content/drive/MyDrive/TCC_MBA_PUC/tweet_formated.csv')

In [ ]:
reader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999534 entries, 0 to 1999533
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   date            object
 2   text            object
 3   text_length     int64
 4   filtered_words  object
 5   vader_neg(%)    float64
 6   vader_neu(%)    float64
 7   vader_pos(%)    float64
 8   vader_comp(%)   float64
 9   Sentiment       object
dtypes: float64(4), int64(2), object(4)
memory usage: 152.6+ MB

In [ ]:
x=reader['date'].iloc[0]
print(x)
type(x)

2021-02-10 23:59:04

str

In [ ]:
x = dt.datetime.strptime(reader['date'].iloc[0], '%Y-%m-%d %H:%M:%S').date()
print(x)
type(x)

2021-02-10

datetime.date

In [ ]:
dim = len(reader['date'])
dim

1999534

In [ ]:
#Nao roda devido NAN, necessário tratar
# change date from object to datetime
#new_day = []
#for dia in reader['date']:
#  print(dia)
#  x = dt.datetime.strptime(dia, '%Y-%m-%d %H:%M:%S').date()
#  new_day.append(x)

#print(new_day)

ValueError: ignored

In [ ]:
# verify if there is 'Bitcoin' inside date-column
reader['date'].str.contains('Bitcoin').value_counts()

False    1999529
True           5
Name: date, dtype: int64

In [ ]:
# Identify the rows with 'Bitcoins'
df_bitcoin = reader.loc[reader['date'].str.contains('Bitcoin')==True]

In [ ]:
df_bitcoin

         Unnamed: 0  ... Sentiment
64943         64943  ...   neutral
137068       137068  ...   neutral
180575       180575  ...   neutral
1347699     1347699  ...   neutral
1811149     1811149  ...   neutral

[5 rows x 10 columns]

In [ ]:
# remove these rows
df_01 = reader.drop([64943, 137068, 180575, 1347699, 1811149])

#print new dimensions
print(df_01.shape)

# verify row 64943
df_01.iloc[64943]

(1999529, 10)

Unnamed: 0                                                    64944
date                                            2021-04-07 16:23:00
text              Good info here.  Looks like a perfect storm br...
text_length                                                     140
filtered_words    ['good', 'info', 'look', 'like', 'perfect', 's...
vader_neg(%)                                                    0.0
vader_neu(%)                                                   58.8
vader_pos(%)                                                   41.2
vader_comp(%)                                                 84.42
Sentiment                                                  positive
Name: 64944, dtype: object

In [ ]:
# Identify the rows with 'ETH' on dataframe where 'Bitcoins' was removed (df_01)
df_ETH = df_01.loc[reader['date'].str.contains('ETH')==True]
df_ETH

Empty DataFrame
Columns: [Unnamed: 0, date, text, text_length, filtered_words, vader_neg(%), vader_neu(%), vader_pos(%), vader_comp(%), Sentiment]
Index: []

In [ ]:
# Identify the rows with 'BTC' on dataframe where 'Bitcoins' was removed (df_01)
df_BTC = df_01.loc[reader['date'].str.contains('BTC')==True]
df_BTC

         Unnamed: 0  ... Sentiment
1067665     1067665  ...   neutral

[1 rows x 10 columns]

In [ ]:
# remove this rows
df_02 = df_01.drop([1067665])

#print new dimensions
print(df_02.shape)

# verify new row 1067665
df_02.iloc[64943]

(1999528, 10)

Unnamed: 0                                                    64944
date                                            2021-04-07 16:23:00
text              Good info here.  Looks like a perfect storm br...
text_length                                                     140
filtered_words    ['good', 'info', 'look', 'like', 'perfect', 's...
vader_neg(%)                                                    0.0
vader_neu(%)                                                   58.8
vader_pos(%)                                                   41.2
vader_comp(%)                                                 84.42
Sentiment                                                  positive
Name: 64944, dtype: object

In [ ]:
# change date from object to datetime
new_day = []
for dia in df_02['date']:
#  print(dia)
  x = dt.datetime.strptime(dia, '%Y-%m-%d %H:%M:%S').date()
  new_day.append(x)

print(new_day)

ValueError: ignored

In [ ]:
# Identify the rows with 'btc' on dataframe where 'BTC' was removed (df_02)
df_btc = df_02.loc[reader['date'].str.contains('btc')==True]
df_btc

         Unnamed: 0  ... Sentiment
693194       693194  ...   neutral
697397       697397  ...   neutral
1393938     1393938  ...   neutral
1513850     1513850  ...   neutral

[4 rows x 10 columns]

In [ ]:
# remove these rows
df_03 = df_02.drop([693194, 697397, 1393938, 1513850])

#print new dimensions
print(df_03.shape)

# verify new row 693194
df_03.iloc[693194]

(1999524, 10)

Unnamed: 0                           693198
date                    2021-07-26 11:54:14
text              #btc to the moon 🚀🚀 01944
text_length                              25
filtered_words              ['btc', 'moon']
vader_neg(%)                            0.0
vader_neu(%)                          100.0
vader_pos(%)                            0.0
vader_comp(%)                           0.0
Sentiment                           neutral
Name: 693198, dtype: object

In [ ]:
# change date from object to datetime
new_day = []
for dia in df_03['date']:
#  print(dia)
  x = dt.datetime.strptime(dia, '%Y-%m-%d %H:%M:%S').date()
  new_day.append(x)

print(new_day)

ValueError: ignored

In [ ]:
# Identify the rows with 'bitcoin' on dataframe where 'btc' was removed (df_03)
df_bitcoin = df_03.loc[reader['date'].str.contains('bitcoin')==True]
df_bitcoin

         Unnamed: 0         date  ... vader_comp(%)  Sentiment
1611481     1611481  ['bitcoin']  ...           0.0    neutral

[1 rows x 10 columns]

In [ ]:
# remove these rows
df_04 = df_03.drop([1611481])

#print new dimensions
print(df_04.shape)

# verify new row 693194
df_03.iloc[1611481]

(1999523, 10)

Unnamed: 0                                                  1611490
date                                            2021-11-06 04:05:08
text              New political party. #TBP. The #Bitcoin Party....
text_length                                                      54
filtered_words    ['new', 'polit', 'parti', 'tbp', 'bitcoin', 'p...
vader_neg(%)                                                    0.0
vader_neu(%)                                                  100.0
vader_pos(%)                                                    0.0
vader_comp(%)                                                   0.0
Sentiment                                                   neutral
Name: 1611490, dtype: object

In [ ]:
# change date from object to datetime
new_day = []
for dia in df_04['date']:
#  print(dia)
  x = dt.datetime.strptime(dia, '%Y-%m-%d %H:%M:%S').date()
  new_day.append(x)

print(new_day)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
# data frame and new_day list are the same dimension
print('dimension new_day = ', len(new_day))
print('dimension df_04 =  ', df_04.shape)

dimension new_day =  1999523
dimension df_04 =   (1999523, 10)

In [ ]:
print('type new_day = ', type(new_day[0]))
print('type df_04  = ', type(df_04['date'][0]))

type new_day =  <class 'datetime.date'>
type df_04  =  <class 'str'>

In [ ]:
df_04.head(5)

   Unnamed: 0                 date  ... vader_comp(%)  Sentiment
0           0  2021-02-10 23:59:04  ...         29.60   positive
1           1  2021-02-10 23:58:48  ...         49.39   positive
2           2  2021-02-10 23:54:48  ...         57.19   positive
3           3  2021-02-10 23:54:33  ...          0.00    neutral
4           4  2021-02-10 23:54:06  ...        -54.23   negative

[5 rows x 10 columns]

In [ ]:
df_new_day = pd.DataFrame(new_day)

In [ ]:
df_new_day.head(5)

            0
0  2021-02-10
1  2021-02-10
2  2021-02-10
3  2021-02-10
4  2021-02-10

In [ ]:
# NO WORKING!
#df_tweet = pd.concat([df_04, df_new_day])

In [ ]:
#df_tweet.head(10)

In [ ]:
# remove colums 'date' that is object and 'Unnmaded: 0' that not interesting
df_04.drop(columns=['date', 'Unnamed: 0'], inplace=True)
df_04.head(5)

                                                text  ...  Sentiment
0  Blue Ridge Bank shares halted by NYSE after #b...  ...   positive
1  😎 Today, that's this #Thursday, we will do a "...  ...   positive
2  Guys evening, I have read this article about B...  ...   positive
3  $BTC A big chance in a billion! Price: \487264...  ...    neutral
4  This network is secured by 9 508 nodes as of t...  ...   negative

[5 rows x 8 columns]

In [ ]:
df_04['date'] = new_day
df_04.head(-5)

                                                      text  ...        date
0        Blue Ridge Bank shares halted by NYSE after #b...  ...  2021-02-10
1        😎 Today, that's this #Thursday, we will do a "...  ...  2021-02-10
2        Guys evening, I have read this article about B...  ...  2021-02-10
3        $BTC A big chance in a billion! Price: \487264...  ...  2021-02-10
4        This network is secured by 9 508 nodes as of t...  ...  2021-02-10
...                                                    ...  ...         ...
1999524  @cryptocom @ConvexFinance We are in the lead\n...  ...  2021-12-29
1999525  I like that some of the small coins aren’t fol...  ...  2021-12-29
1999526  @TheMoonCarl A $Inari Trailer Video has been r...  ...  2021-12-29
1999527  @cryptocom @ConvexFinance Buy Fegtoken before ...  ...  2021-12-29
1999528  #Bitcoin falls from ATHs have been a lot worse...  ...  2021-12-29

[1999518 rows x 9 columns]

In [ ]:
# range of date
print(df_04['date'].min())
print(df_04['date'].max())

2021-02-05
2021-12-30

In [ ]:
tweet = df_04.groupby(['date', 'Sentiment']).mean()
tweet

                      text_length  vader_neg(%)  ...  vader_pos(%)  vader_comp(%)
date       Sentiment                             ...
2021-02-05 negative    129.223256     25.042791  ...      2.448837     -42.304000
           neutral     122.481283      0.031016  ...      0.035829       0.000000
           positive    130.204044      1.200735  ...     24.724265      44.670864
2021-02-06 negative    125.827476     24.194888  ...      2.614696     -39.498275
           neutral     120.344828      0.008183  ...      0.008183       0.000000
...                           ...           ...  ...           ...            ...
2021-12-29 neutral     172.095859      0.017357  ...      0.017357       0.000000
           positive    206.933770      2.637180  ...     22.671279      50.473384
2021-12-30 negative    204.459652     20.702571  ...      3.920614     -43.154413
           neutral     161.143018      0.062932  ...      0.065784       0.000000
           positive    210.964901      2.362980  ...     23.102576      52.910943

[303 rows x 5 columns]

In [ ]:
df_04.groupby(['date', 'Sentiment']).sum()

                      text_length  vader_neg(%)  ...  vader_pos(%)  vader_comp(%)
date       Sentiment                             ...
2021-02-05 negative         27783        5384.2  ...         526.5       -9095.36
           neutral         114520          29.0  ...          33.5           0.00
           positive         70831         653.2  ...       13450.0       24300.95
2021-02-06 negative         39384        7573.0  ...         818.4      -12362.96
           neutral         233830          15.9  ...          15.9           0.00
...                           ...           ...  ...           ...            ...
2021-12-29 neutral         303405          30.6  ...          30.6           0.00
           positive        315574        4021.7  ...       34573.7       76971.91
2021-12-30 negative        858935       86971.5  ...       16470.5     -181291.69
           neutral        1570661         613.4  ...         641.2           0.00
           positive       2350149       26323.6  ...      257362.7      589427.91

[303 rows x 5 columns]

In [ ]:
sentiment_list = df_04.groupby(['date']).mean()
sentiment_list

            text_length  vader_neg(%)  ...  vader_pos(%)  vader_comp(%)
date                                   ...
2021-02-05   125.817001      3.581110  ...      8.270366       8.976145
2021-02-06   123.070470      2.658420  ...      8.072605      10.144201
2021-02-07   127.871947      2.396898  ...      7.555908       9.768178
2021-02-08   121.255534      2.497857  ...      9.448238      12.551693
2021-02-09   124.592184      3.006460  ...      9.166575      11.600320
...                 ...           ...  ...           ...            ...
2021-11-26   182.715087      4.377209  ...     12.722798      20.951792
2021-12-11   184.366755      3.841689  ...     11.062425      18.272367
2021-12-17   185.720094      5.579206  ...     12.277029      16.599460
2021-12-29   187.881167      3.827533  ...      9.607507      15.047462
2021-12-30   190.519173      4.540358  ...     10.940466      16.268185

[101 rows x 5 columns]

In [ ]:
#create a file which sumarize the tweet sentiment daily to inspect in order to be used as base with other script
sentiment_list.to_csv('tweet_sentiment.csv')